apiVersion: apps/v1
kind: StatefulSet
metadata:
 name: elasticsearch
spec:
 serviceName: elasticsearch-svc
 replicas: 1
 selector:
   matchLabels:
     app: elasticsearch
 template:
   metadata:
     labels:
       app: elasticsearch
   spec:
     containers:
     - name: elasticsearch
       image: elasticsearch:8.11.1
       env:
       - name: "discovery.type"
         value: "single-node"
       - name: "ES_JAVA_OPTS"
         value: "-Xms256m -Xmx256m"
       volumeMounts:
         - name: elasticsearch-storage
           mountPath: /usr/share/elasticsearch/data
 volumeClaimTemplates:
 - metadata:
     name: elasticsearch-storage
   spec:
     accessModes: [ "ReadWriteOnce" ]
     resources:
       requests:
         storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-svc
spec:
  selector:
    app: elasticsearch
  ports:
    - name: http
      port: 9200
      targetPort: 9200
